body {
    font-family: 'Ranchers', serif;
    text-align: center;
}

h1 {
    color: #663300;
    font-size: 4em;
}

.mole {
    position: absolute;
    z-index: 1;
  }

.hole-bottom {
    position: absolute;
    z-index: 2;
}