body {
    font-family: 'Ranchers', serif;
    text-align: center;
}

h1 {
    color: #663300;
    font-size: 4em;
}

.animate {
    position: absolute;
}

@keyframes animation {
    0%   {top:50px;}
    50%  {top:-50px;}
    100% {top:50px;}
  }

.mole {
    position: absolute;
    z-index: 1;
    animation-name: animation;
    animation-duration: 3s;
  }

.hole-bottom {
    position: absolute;
    z-index: 2;
}

#row-1 {
    z-index: 1;
}

#row-2 {
    z-index: 2;
}