body {
    font-family: 'Ranchers', serif;
    text-align: center;
}

h1 {
    color: #663300;
    font-size: 4em;
}

.animate {
    position: absolute;
}

@keyframes animation {
    0%   {top:0px;}
    50%  {top:-100px;}
    100% {top:0px;}
  }

.mole {
    margin-top: 80px;
    position: absolute;
    z-index: 1;
  }

.mole-animate {
    animation-name: animation;
    animation-duration: 3s;
}

.hole-bottom {
    position: absolute;
    z-index: 2;
}

#row-1 {
    margin-top: 100px;
    z-index: 1;
}

#row-2 {
    z-index: 2;
}